body {
    font-family: 'Space Mono', monospace;
    color: #646e70;
    background-color: #c5e4e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

p {
    margin: 0 0 10px;
    padding: 0;
}

header {
    padding: 30px 0 15px;
}

.calculator {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/*****TOP HALF - CALCULATOR FUNCTIONS*****/
.calculator-container {
    display: flex;
    flex-direction: column;
}

.bill-container, .tip-container, .people-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.amount {
    background-color: #f3f8fb;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 90%;
}

.amount:hover {
    cursor: pointer;
    border: 1px solid #26c2ad;
}

.icon {
    padding: 5px;
}

.money, .number {
    border: none;
    background-color: transparent;
    outline: none;
    color: #00494d;
    text-align: right;
}

/*****SELECT TIP*****/
.tip-container {
    margin-bottom: 20px;
}

.tip-container {
    display: flex;
    flex-direction: column;
}

.percent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tip {
    margin-bottom: 10px;
    width: 45%;
    height: 45px;
}

tip:hover {
    background-color: #26c2ad;
    cursor: pointer;
}

button {
    background-color: #00474b;
    border: none;
    border-radius: 5px;
    color: white;
    width: 48%;
    padding: 10px 0;
}

button:hover {
    background-color: #26c2ad;
    cursor: pointer;
}

.custom {
    border: none;
    background-color: transparent;
    outline: none;
    color: #00494d;
    text-align: right;
    background-color: #f3f8fb;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 45%;
    height: 45px;
    padding: 0;
}

::placeholder {
    color: #7b9a95;
}

.custom:hover {
    cursor: pointer;
    border: 1px solid #26c2ad;
}

/*****SCREEN*****/
.screen {
    background-color: #00474b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.screen-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.total-label {
    color: white;
}

.total-info {
    color: #4f787e;
}

.reset {
    background-color: #26c2ad;
    border: none;
    border-radius: 5px;
    color: #00494d;
    text-transform: uppercase;
    width: 90%;
}

.reset:hover {
    background-color: #9fe8df;
    cursor: pointer;
}